<!DOCTYPE html>
<html>
    <head>
        <title>hoa</title>
        <script>
           'use strict'
           document.write(hola);
        </script>
    </head>
    <body>
       <form method="GET" action="../controllers/guatemalaController.js">
            
    </form>
        <button type="submit"></button>      

    </body>
</html>