<!DOCTYPE html>
<html>
    <head>
        <title>hoa</title>
        <script>
           
        </script>
    </head>
    <body>
       <form method="GET" action="../controllers/customerController">
            
    </form>
        <button type="submit"></button>      

    </body>
</html>